@{
    ViewData["Title"] = "Home Page";
}


<div class = "container">
    <div class="description">
    <h1>Kamil Kula</h1>
    <h2 class="profession">Student 3 roku informatyki</h2>
    <p class="lower-description">Jestem studentem III roku
informatyki w Szkole
Głównej Gospodarstwa
Wiejskiego. Mam 21 lat.
Interesuję się
programowaniem i
matematyką, lubię uczyć się
nowych rzeczy. Posługuję
się językiem angielskim na
poziomie B2.</p>
<input type="button" value="Napisz do mnie" class="contactme-button"/>
<input type="button" value="Moje projekty" class="my-projects-button"/>
<div class="social-media">
    <ul>
        <li><img src="Images/facebook_icon.svg" class="icon"</li>
        <li><img src="Images/instagram_icon.svg" class="icon"</li>
        <li><img src="Images/linkedin_icon.svg" class="icon"</li>
        <li><img src="Images/twitter_icon.svg" class="icon"</li>
    </ul>
</div>
<div class="portfolio">
    <h3>Stworzone projekty</h3>
</div>
<div class="contact">
    <div class="contact-left-text">
    <h3>Napisz do mnie</h3>
    <p class="contact-info">
        Jestem otwarty na staż informatyczny lub oferty pracy, jeśli masz jakąś propozycję, jestem zainteresowany. Wypełnij formularz kontaktowy a odpiszę najszybciej jak to możliwe.
    </p>
    <a class="contact-mail" href="mailto:kamil3kk2134@gmail.com">
        kamil3kk2134@gmail.com
    </a>
    </div> 
    <div class="contact-form">

    </div>
</div>
    </div>
</div>