@model Projekt_CV.Models.MailModel
@{
	ViewData["Title"] = "Home Page";
}
@if (TempData["Success"] != null)
{
	<div class="container d-flex justify-content-center">
	<div class="alert alert-success text-center"  role="alert">
		Wysłano!
	</div>
	</div>
}

<div class = "container">
	<div class="description">
		<div class="description-upper">
		<h1>Kamil Kula</h1>
		<h2 class="profession">Student 3 roku informatyki</h2>
		<p class="lower-description">Jestem studentem III roku
			informatyki w Szkole
			Głównej Gospodarstwa
			Wiejskiego. Mam 21 lat.
			Interesuję się
			programowaniem i
			matematyką, lubię uczyć się
			nowych rzeczy. Posługuję
			się językiem angielskim na
			poziomie B2.</p>
			<div class="buttons">
				<input type="button" value="Napisz do mnie" class="contactme-button"/>
				<input type="button" value="Moje projekty" class="my-projects-button"/>
			</div>
			<div class="social-media">
				<ul>
					<li><a href="facebook.com"><img src="Images/facebook_icon.svg" class="icon" /></a></li>
					<li><a href="instagram.com"><img src="Images/instagram_icon.svg" class="icon" /></a></li>
					<li><a href="linkedin.com"><img src="Images/linkedin_icon.svg" class="icon" /></a></li>
					<li><a href="twitter.com"><img src="Images/twitter_icon.svg" class="icon" /></a></li>
				</ul>
			</div>
			</div>
			<video width="760" height="660" autoplay loop muted>
				<source src="~/Videos/BeginningVideo.mp4" type="video/mp4">
				<source src="movie.ogg" type="video/ogg">
				Your browser does not support the video tag.
			</video>

	</div>
	<div class="portfolio">
		<h3>Stworzone projekty</h3>
		<div class="projects">
			<div class="card" style="width: 38rem;">
				<img src="~/Images/QuizApp.png" id="card-img"/>
				<div class="card-body">
					<h5 class="card-title">Quiz App</h5>
						<p class="card-text">Aplikacja webowa umożliwiająca tworzenie testów abcd (dodawanie własnych pytań i odpowiedzi) i pozwalająca na łatwe zarządzanie dodanymi pytaniami i odpowiedziami. Aplikacja stworzona korzystając z technologii: HTML, CSS, JavaScript.</p>
						<a href="https://github.com/KamilKula5/Quiz_app" class="btn btn-primary">Zobacz projekt</a>
				</div>
			</div>
			<div class="card" id="card-second" style="width: 38rem;">
				<img src="~/Images/MatrixCalculator.png" id="card-img"/>
				<div class="card-body" id="card-body-matrix">
					<h5 class="card-title">Kalkulator macierzy</h5>
					<p class="card-text">Aplikacja desktopowa wykonująca operacje na macierzach 3x3 (dodawanie, odejmowanie, mnożenie). Aplikacja stworzona korzystając z technologii: Windows Forms i C#</p>
					<a href="https://github.com/KamilKula5/KalkulatorMacierzy" class="btn btn-primary" id="second-button">Zobacz projekt</a>
				</div>
			</div>
		</div>
	</div>
	
</div>
</div>
<div class="contact">
		<div class="contact-left-text">
			<h3>Napisz do mnie</h3>
			<p class="contact-info">
				Jestem otwarty na staż informatyczny lub oferty pracy, jeśli masz jakąś propozycję. Wypełnij formularz kontaktowy a odpiszę najszybciej jak to możliwe.
			</p>
			<a class="contact-mail" href="mailto:koncowyprojekt1@gmail.com">
				koncowyprojekt1@gmail.com
			</a>
		</div>
		<div class="contact-form">
			<fieldset>
				<legend>
					Wyślij maila!
				</legend>
			@using (Html.BeginForm())
			{
							<p class="topic">Temat: </p>
							<p>@Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })</p>
							<p>@Html.TextBoxFor(m=>m.Subject, new {@class = "mail-form"})</p>							
							<p class="body-text">Treść: </p>
							<p>@Html.ValidationMessageFor(m => m.Body, "", new { @class = "text-danger" })</p>
							<p class="body-text-outer">@Html.TextAreaFor(m=>m.Body, new {@class = "mail-form-body"})</p>
							<button type="submit" id="send" value="Send" asp-controller="SendMail" asp-action="Index">Wyślij<img src="Images/send.svg" id="send-img"/></button>
			}
			</fieldset>
		</div>
	</div>
