html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.icon{
    width: 3rem;
}
.mail-form {
    width: 40rem;
    border-radius: 1.5rem;
    font-size: 1.6rem;
    padding: 0.6rem 1.2rem;
}

.mail-form-body {
    width: 40rem;
    height: 10rem;
    border-radius: 1.5rem;
    font-size: 1.3rem;
    padding: 0.6rem 1.2rem;
}

.navbar {
    flex-wrap: wrap;
}

#send {
    background-color: #00b4d8;
    width: 8rem;
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    font-size: 18px;
    font-weight: 500;
}

    #send:hover {
        background-color: #90e0ef;
    }

.navbar-brand {
    font-weight: 800;
    font-family: 'Cormorant Garamond', serif;
}


textarea {
    border: none;
    outline: none;
}

@media (max-width: 503px) {
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1122px) {
    .contact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-left-text{
        margin-left: 0;
    }
}
@media (min-width: 1123px) {

    .contact-left-text {
        margin-left: 3rem;
    }
}
@media (max-width: 587px) {
    .contact-mail{
        font-size: 1.2rem;
    }
    .mail-form{
        width: 300px;
    }
    .mail-form-body{
        width: 300px;
    }
}

.flag {
    width: 3rem;
    height: 1.5rem;
}
#send-img {
    width: 1.8rem;
    margin-left: 0.2rem;
}